<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= url("/css/foundation.css")%>">
  <link rel="stylesheet" href="<%= url("/css/app.css")%>">
  <title>AmberNote</title>
</head>
<body>

  <%= erb :nav %>
  <div class="row login">

  <%= yield %>
</div>
  <script src="<%= url("/js/jquery.js")%>"></script>
  <script src="<%= url("/js/foundation.js")%>"></script>
  <script src="<%= url("/js/all.js")%>"></script>

</body>
</html>
