<% entry = Entry.first(id: params[:entry]) %>

<h2>Viewing Entry for <%= entry[:created_at].year %>-<%= entry[:created_at].month %>-<%= entry[:created_at].day %></h2>

<h3>Projects Completed</h3>
<p>
  <%= entry[:finished] %>
</p>

<h3>Projects in Progress</h3>
<p>
  <%= entry[:progress] %>
</p>

<h3>Languages / Tools</h3>
<p>
  <%= entry[:languages] %>
</p>

<h3>Major Skillsets Required / Developing</h3>
<p>
  <%= entry[:skillsets] %>
</p>

<h3>Woo-hoo Moments</h3>
<p>
  <%= entry[:woohoo] %>
</p>

<h3>Fuck-Ups and Don't Forget</h3>
<p>
  <%= entry[:fuckups] %>
</p>

<h3>Notes</h3>
<p>
  <%= entry[:notes] %>
</p>
